@import '@fontsource-variable/raleway';
@import '@fontsource/fredoka-one';
@import '@fontsource/space-mono';

html {
	/* font */
	--font-body: 'Raleway Variable', sans-serif;
	--font-title: 'Fredoka One', sans-serif;
	--font-mono: 'Space Mono', monospace;

	/* dark */
	--brand-dark-1: hsl(109 28% 45%);
	--brand-dark-2: hsl(193 43% 67%);
	--brand-dark-3: hsl(181 98% 83%);
	--brand-dark-4: hsl(81 86% 78%);
	--brand-dark-5: hsl(191 56% 24%);

	--text-1-dark: hsl(218 27% 94%);
	--text-2-dark: hsl(219 28% 88%);
	--text-footer-dark: hsl(218 27% 94%);

	--heading-1-dark: hsl(92 27% 60%);
	--heading-2-dark: hsl(193 43% 67%);

	--accent-1-dark: hsl(192 55% 64% / 0.9);
	--accent-2-dark: hsl(193 43% 47% / 0.8);
	--accent-3-dark: hsl(193 43% 35% / 0.8);
	--accent-4-dark: hsl(220 16% 36%);

	--surface-1-dark: hsl(193 43% 25%);
	--surface-2-dark: hsl(220 16% 36%);
	--surface-3-dark: hsl(222 16% 28%);
	--surface-4-dark: hsl(223 12% 12% / 0.8);

	--background-dark: hsl(220 16% 13%);
	--border-dark: hsl(218 27% 94%);
	--gradient-dark: linear-gradient(144deg, hsl(220deg 16% 22%) 60%, hsl(220deg 16% 12%) 90%);
	--gradient-button-dark: linear-gradient(145deg, hsl(219 17% 19%), hsl(218 16% 23%));
	--card-bg-dark: linear-gradient(145deg, hsl(219 17% 19% / 0.85), hsl(218 16% 23%));
	--box-shadow-1-dark: hsl(219 17% 16% / 0.75);
	--box-shadow-2-dark: hsl(218 16% 33% / 0.25);

	/* light */
	--brand-light-1: hsl(93 28% 45%);
	--brand-light-2: hsl(92 28% 65%);
	--brand-light-3: hsl(193 43% 67%);
	--brand-light-4: hsl(213 32% 52%);
	--brand-light-5: hsl(95 16% 35%);

	--text-1-light: hsl(92 28% 10%);
	--text-2-light: hsl(220 16% 36%);
	--text-footer-light: hsl(218 27% 94%);

	--heading-1-light: hsl(109 28% 45%);
	--heading-2-light: hsl(192 55% 44%);

	--accent-1-light: hsl(92 28% 65% / 0.9);
	--accent-2-light: hsl(92 28% 45% / 0.8);
	--accent-3-light: hsl(92 28% 32% / 0.8);
	--accent-4-light: hsl(94 16% 30% / 0.8);

	--surface-1-light: hsl(92 28% 22%);
	--surface-2-light: hsl(222 16% 28%);
	--surface-3-light: hsl(220 16% 36%);
	--surface-4-light: hsl(92 28% 65% / 0.9);

	--background-light: hsl(53 60% 90%);
	--border-light: hsl(240, 33%, 1%);
	--gradient-light: linear-gradient(144deg, hsl(53deg 60% 94%) 20%, hsl(53deg 60% 90%) 90%);
	--gradient-button-light: linear-gradient(145deg, hsl(53 21% 85%), hsl(51 100% 96%));
	--card-bg-light: linear-gradient(145deg, hsl(53 21% 85% / 0.85), hsl(51 100% 96%));
	--box-shadow-1-light: hsl(52 14% 79% / 0.75);
	--box-shadow-2-light: hsl(51 100% 97% / 0.25);
}

:root {
	color-scheme: dark;

	--brand-1: var(--brand-dark-1);
	--brand-2: var(--brand-dark-2);
	--brand-3: var(--brand-dark-3);
	--brand-4: var(--brand-dark-4);
	--brand-5: var(--brand-dark-5);
	--text-1: var(--text-1-dark);
	--text-2: var(--text-2-dark);
	--heading-1: var(--heading-1-dark);
	--heading-2: var(--heading-2-dark);
	--accent-1: var(--accent-1-dark);
	--accent-2: var(--accent-2-dark);
	--accent-3: var(--accent-3-dark);
	--accent-4: var(--accent-4-dark);
	--surface-1: var(--surface-1-dark);
	--surface-2: var(--surface-2-dark);
	--surface-3: var(--surface-3-dark);
	--surface-4: var(--surface-4-dark);
	--background: var(--background-dark);
	--background-2: var(--gradient-dark);
	--border: var(--border-dark);
	--gradient-button: var(--gradient-button-dark);
	--card-bg: var(--card-bg-dark);
	--box-shadow-1: var(--box-shadow-1-dark);
	--box-shadow-2: var(--box-shadow-2-dark);
	--text-footer: var(--text-footer-dark);
}

@media (prefers-color-scheme: light) {
	:root {
		color-scheme: light;

		--brand-1: var(--brand-light-1);
		--brand-2: var(--brand-light-2);
		--brand-3: var(--brand-light-3);
		--brand-4: var(--brand-light-4);
		--brand-5: var(--brand-light-5);
		--text-1: var(--text-1-light);
		--text-2: var(--text-2-light);
		--heading-1: var(--heading-1-light);
		--heading-2: var(--heading-2-light);
		--accent-1: var(--accent-1-light);
		--accent-2: var(--accent-2-light);
		--accent-3: var(--accent-3-light);
		--accent-4: var(--accent-4-light);
		--surface-1: var(--surface-1-light);
		--surface-2: var(--surface-2-light);
		--surface-3: var(--surface-3-light);
		--surface-4: var(--surface-4-light);
		--background: var(--background-light);
		--background-2: var(--gradient-light);
		--border: var(--border-light);
		--gradient-button: var(--gradient-button-light);
		--card-bg: var(--card-bg-light);
		--box-shadow-1: var(--box-shadow-1-light);
		--box-shadow-2: var(--box-shadow-2-light);
		--text-footer: var(--text-footer-light);
	}
}

[color-scheme='dark'] {
	color-scheme: dark;

	--brand-1: var(--brand-dark-1);
	--brand-2: var(--brand-dark-2);
	--brand-3: var(--brand-dark-3);
	--brand-4: var(--brand-dark-4);
	--brand-5: var(--brand-dark-5);
	--text-1: var(--text-1-dark);
	--text-2: var(--text-2-dark);
	--heading-1: var(--heading-1-dark);
	--heading-2: var(--heading-2-dark);
	--accent-1: var(--accent-1-dark);
	--accent-2: var(--accent-2-dark);
	--accent-3: var(--accent-3-dark);
	--accent-4: var(--accent-4-dark);
	--surface-1: var(--surface-1-dark);
	--surface-2: var(--surface-2-dark);
	--surface-3: var(--surface-3-dark);
	--surface-4: var(--surface-4-dark);
	--background: var(--background-dark);
	--background-2: var(--gradient-dark);
	--border: var(--border-dark);
	--gradient-button: var(--gradient-button-dark);
	--card-bg: var(--card-bg-dark);
	--box-shadow-1: var(--box-shadow-1-dark);
	--box-shadow-2: var(--box-shadow-2-dark);
	--text-footer: var(--text-footer-dark);
}

[color-scheme='light'] {
	color-scheme: light;

	--brand-1: var(--brand-light-1);
	--brand-2: var(--brand-light-2);
	--brand-3: var(--brand-light-3);
	--brand-4: var(--brand-light-4);
	--brand-5: var(--brand-light-5);
	--text-1: var(--text-1-light);
	--text-2: var(--text-2-light);
	--heading-1: var(--heading-1-light);
	--heading-2: var(--heading-2-light);
	--accent-1: var(--accent-1-light);
	--accent-2: var(--accent-2-light);
	--accent-3: var(--accent-3-light);
	--accent-4: var(--accent-4-light);
	--surface-1: var(--surface-1-light);
	--surface-2: var(--surface-2-light);
	--surface-3: var(--surface-3-light);
	--surface-4: var(--surface-4-light);
	--background: var(--background-light);
	--background-2: var(--gradient-light);
	--border: var(--border-light);
	--gradient-button: var(--gradient-button-light);
	--card-bg: var(--card-bg-light);
	--box-shadow-1: var(--box-shadow-1-light);
	--box-shadow-2: var(--box-shadow-2-light);
	--text-footer: var(--text-footer-light);
}

html,
body {
	height: 100%;
	font-family: var(--font-body);
	font-weight: 500;
}

html {
	color: var(--text-1);
	accent-color: var(--link);
	background-image: var(--background-2);
	background-attachment: fixed;
}

img {
	border-radius: var(--radius-3);
}
button {
	padding: 0;
	font-weight: inherit;
	background: none;
	border: none;
	box-shadow: none;
	overflow: hidden;
}
ul,
ol {
	list-style: none;
	padding: 0;
}

li {
	padding-inline-start: 0;
}

.title {
	font-family: var(--font-title);
	font-size: var(--size-6);
	letter-spacing: 0.05em;
}
